p {
  margin: 0.5em 0;
}

ul, ol {
  margin: 1em;
}

ul > li,
ol > li {
  margin: 0.2em 0;
}

ul {
  list-style: square outside;
}

#title,
#content,
#credits {
  margin: 16px auto;
  max-width: 600px;
  overflow: hidden;
}

#title {
}

#content {
}

#content > section {
  margin: 8px;
  padding: 8px;
  overflow: hidden;
}

#content > section + section {
/*  margin-top: 8px;
  padding-top: 8px;
*/}

#credits > * {
  margin: 8px;
}

#twitter {
  float: right;
  width: 220px;
  max-width: 50%;
  margin: 0 0 8px 16px;
}

.news-item > header > .title {
  display: inline;
  font-size: large;
}

.news-item > header > .info {
  display: inline;
  font-size: small;
  font-style: italic;
}

.news-item > .content {
  margin-left: 1em;
}